:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
